
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Mali", sans-serif;
    
}

button {
    font-family: "Mali", sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: pink;
    border: none;
    height: 50px;
    width:125px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

.But1:hover {
    background-color: rgb(255, 129, 150);
}

#myImage {
    display: none; /* Initially hidden */
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}